
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-align: center;
}

.navbar a:hover {
    background: #eb7d34;
}

/*Container for Karma introduction*/

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.IntroductionHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 300;
    
}

.IntroductionSubHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    font-size: 30px;
    font-weight: 300;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


